$backgroundColor: #232931 !default;
$primaryColor: #eeeeee !default;
$secondaryColor: #1a40be !default;

$theme-colors: (
  'primary': $secondaryColor,
) !default;

hr {
  color: $primaryColor;
}

.navbar-brand {
  color: $primaryColor;
}

body {
  color: $primaryColor;
}

h1,
h2,
h3,
h4,
h5 {
  color: $primaryColor;
}

@import '~bootstrap/scss/bootstrap';
// Get reference to breakpoints

.App {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background-color: #232931;

  a {
    color: $primaryColor;
  }
}
