// Change default bootstrap theme
$background-color: #232931;
$primary-color: #eeeeee;
$secondary-color: #1a40be;

$theme-colors: (
  'primary': $secondary-color,
);

hr {
  color: $primary-color;
}

.navbar-brand {
  color: $primary-color;
}

body {
  color: $primary-color;
}

h1,
h2,
h3,
h4,
h5 {
  color: $primary-color;
}

@import '~bootstrap/scss/bootstrap';
// Get reference to breakpoints

.App {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background-color: #232931;

  a {
    color: $primary-color;
  }
}
