// Change default bootstrap theme
$background-color: #232931;
$primary-color: #eeeeee;
$secondary-color: #1a40be;

$theme-colors: (
  'primary': $secondary-color,
);

hr {
  color: $primary-color;
}

.navbar-brand {
  color: $primary-color;
}

body {
  color: $primary-color !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: $primary-color;
}

@import '~bootstrap/scss/bootstrap';
// Get reference to breakpoints

.App {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background-color: #232931;

  a {
    color: $primary-color;
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
